<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Countries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Countries</h1>
    <h2>Countries list:</h2>
    <ul>
        <% countries.forEach(function(country) { %> 
            <li>
                <a href="/country/<%= country.alpha3Code%>">
                    <%= country.name %>
                </a>
            </li>
        <%}); %>
    </ul>
</body>
</html>